<%= form_for(student_master) do |f| %>
  <% if student_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_master.errors.count, "error") %> prohibited this student_master from being saved:</h2>

      <ul>
      <% student_master.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="field">
  	<%= f.label "Roll No" %><br>
    <%= f.text_field :roll_no %>
  </div>
  <div id="field">
  	<%= f.label "Name" %><br>
    <%= f.text_field :name %>
  </div>  
  <div id="field">
  	<%= f.label "Age" %><br>
    <%= f.text_field :age %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
